modules = ["nodejs-20", "web", "nix"]
[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[userenv]

[userenv.shared]
TURSO_DATABASE_URL = "libsql://database-fulvous-ferry-vercel-icfg-v86wsrnn1jihzin22m9nophx.aws-us-east-1.turso.io"
